.changePassword
    .changePassword__action-bar
        button.changePassword__action_button(href='#')
            img(src='../../../icons/arrow.png')
    .changePassword__content
        .changePassword__wrap
            .changePassword__account-logo
                img(src='../../../icons/account.png')
            .changePassword__info
                .changePassword__info__item
                    .changePassword__info__item__label Старый пароль
                    .changePassword__info__item__value **********
                .changePassword__info__item
                    .changePassword__info__item__label Новый пароль
                    .changePassword__info__item__value **********
                .changePassword__info__item
                    .changePassword__info__item__label Повторите новый пароль
                    .changePassword__info__item__value **********
            .changePassword__actions
                .changePassword__actions__wrap
                    button.changePassword__actions__button Сохранить
style
    include ../../../reset.scss
script(type='module' src='changePassword.js')
