doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title= title
        link(rel="stylesheet" href="reset.scss")
        link(rel="stylesheet" href="main.scss")
    body
        header.header
            nav.header__nav
                ul.header__nav__ul
                    li.header__nav-item
                        a(href="src/pages/authorization/authorization.pug" target="_blank").nav-link authorization
                    li.header__nav-item
                        a(href="src/pages/registration/registration.pug" target="_blank").nav-link registration
                    li.header__nav-item
                        a(href="src/pages/page500/page500.pug" target="_blank").nav-link 500
                    li.header__nav-item
                        a(href="src/pages/page404/page404.pug" target="_blank").nav-link 404
                    li.header__nav-item
                        a(href="src/components/modal/modal.pug" target="_blank").nav-link modal
script(type='module' src='./src/index.js')




