/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

$button_primary: #2083F3;
$button_secondary: #ec4747;
$button_secondary_hover: #FF0000;
$button_hover: #1968C2;
$font-weight-bold: 600;
$second_color: #D9D9D9;

.changeProfile {
  display: flex;

  &__action-bar {
    display: flex;
    height: 100vh;
    width: 64px;
    background-color: #FBFBFB;
    border-right: 1px solid #EAEAEA;
    align-items: center;
    justify-content: center;
  }

  &__content {
    display: flex;
    height: 100vh;
    width: 100%;

  }

  &__action_button {
    border-radius: 50%;
    border: none;
    height: 28px;
    width: 28px;
    background-color: $button_primary;
    cursor: pointer;
    color: white;

    &:hover {
      background-color: $button_hover;
    }
  }

  &__wrap {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  &__content {
    display: flex;
    justify-content: center;
  }

  &__account-logo {
    margin-top: 80px;

    & img {
      width: 100px;
      height: 100px;
    }
  }

  &__name {
    margin-top: 20px;
    font-weight: $font-weight-bold;
  }

  &__info {
    margin-top: 60px;

    &__item {
      display: flex;
      justify-content: space-between;
      gap: 15rem;
      padding: 8px 0;
      border-bottom: 1px solid $second_color;

      &__value {
        color: $second_color;
      }
    }
  }

  &__actions {
    display: flex;
    justify-content: left;
    flex-direction: column;
    margin-top: 60px;
    width: 100%;

    &__wrap {
      display: flex;
      justify-content: center;
    }

    &__button {
      border: none;
      border-radius: 4px;
      font: inherit;
      background-color: $button_primary;
      padding: 8px 16px;
      color: white;
      width: 164px;

      &:hover {
        background-color: $button_hover;
      }
    }

  }
}
