.changeProfile
    .changeProfile__action-bar
        button.changeProfile__action_button(href='#')
            img(src='../../../icons/arrow.png')
    .changeProfile__content
        .changeProfile__wrap
            .changeProfile__account-logo
                img(src='../../../icons/account.png')
            .changeProfile__info
                .changeProfile__info__item
                    .changeProfile__info__item__label Почта
                    .changeProfile__info__item__value pochta@yandex.ru
                .changeProfile__info__item
                    .changeProfile__info__item__label Логин
                    .changeProfile__info__item__value nik
                .changeProfile__info__item
                    .changeProfile__info__item__label Имя
                    .changeProfile__info__item__value Никита
                .changeProfile__info__item
                    .changeProfile__info__item__label Фамилия
                    .changeProfile__info__item__value Лав
                .changeProfile__info__item
                    .changeProfile__info__item__label Телефон
                    .changeProfile__info__item__value +79999999999
            .changeProfile__actions
                .changeProfile__actions__wrap
                    button.changeProfile__actions__button Сохранить
style
    include ../../../reset.scss
script(type='module' src='changeProfile.js')
