$second_color: #D9D9D9;
$font-weight-bold: 600;
$font-size-h1: 40px;
$button_primary: #2083F3;
$button_hover: #1968C2;

/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

.section-authorization {
  display: flex;
  width: 100%;
}

.section-authorization__main {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%)
}

.section-authorization__title {
  color: $second_color;
  font-weight: $font-weight-bold;
  font-size: $font-size-h1;
}

.authorization__input-wrap{
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-top: 16px;
}

.section-authorization__input--text{
  width: 164px;
  border: solid 1px $second_color ;
  border-radius: 4px;
  padding: 16px 12px;
}
.section-authorization__input--text:hover{
  border: solid 1px $button_primary ;
}
.section-authorization__input--text:focus{
  border: solid 1px $button_hover;
  outline: none;
}

.section-authorization__input--password{
  width: 164px;
  border: solid 1px $second_color ;
  border-radius: 4px;
  padding: 16px 12px;
}
.section-authorization__input--password:hover{
  border: solid 1px $button_primary ;
}
.section-authorization__input--password:focus{
  border: solid 1px $button_hover;
  outline: none;
}

.section-authorization__button--enter{
  border: none;
  border-radius: 4px;
  font: inherit;
  margin-top: 16px;
  background-color: $button_primary;
  padding: 8px 16px;
  color: white;
  width: 164px;
}
.section-authorization__button--enter:hover{
  background-color: $button_hover;
}

.section-authorization__notRegistered{
  text-decoration:none;
  margin-top: 32px;
  color: $button_primary;
}

.section-authorization__notRegistered:hover {
  color: $button_hover;
}

