- const backToChat = "Назад к чатам"
- const errorMessage = "Мы уже фиксим"
- const errorCode = "500"


section.section-page500
    .section-page500__main
        .section-page500__error= errorCode
        .section-page500__error-message= errorMessage
        a.section-page500__backToChat(href='#')= backToChat


script(type='module' src='page500.js')
