@import "src/styleVariables/styleVariables";

.registration {
  display: flex;
  width: 100%;

  &__main {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
  }

  &__title {
    color: $second_color;
    font-weight: $font-weight-bold;
    font-size: $font-size-h1;
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-top: 16px;
  }

  &__actions{
    margin-top: 16px;
  }

  &__button-wrap{
    margin-top: 32px;
  }
}

