header.header
    nav.header__nav
        ul.header__nav__ul
            li.header__nav-item
                a(href="src/pages/login/login.pug" target="_blank").nav-link login
            li.header__nav-item
                a(href="src/pages/registration/registration.pug" target="_blank").nav-link registration
            li.header__nav-item
                a(href="src/pages/page500/page500.pug" target="_blank").nav-link 500
            li.header__nav-item
                a(href="src/pages/page404/page404.pug" target="_blank").nav-link 404
            li.header__nav-item
                a(href="src/pages/profile/profile.pug" target="_blank").nav-link profile
            li.header__nav-item
                a(href="src/pages/changeProfile/changeProfile.pug" target="_blank").nav-link changeProfile
            li.header__nav-item
                a(href="src/pages/changePassword/changePassword.pug" target="_blank").nav-link changePassword
            li.header__nav-item
                a(href="src/pages/chat/chat.pug" target="_blank").nav-link chat
| !{button}
| !{modal}
