.modal#modal
    .modal-content
        span.close
        .modal-content__modal-title text
        .dialog-actions
            button.modal-content__button button


script(type='module' src='modal.js')
