.modal#modal
    .modal-content
        span.close
        .modal-content__modal-title text
        .dialog-actions
            button.modal-content__button button
style
    include ../../../reset.scss

script(type='module' src='modal.ts')
